= air_field.input :name
= air_field.input :model
= air_field.input :rank
= air_field.input :company
= air_field.input :from
= air_field.input :to
= air_field.input :departure_time
= air_field.input :arrive_time
= air_field.input :from_station
= air_field.input :to_station
= air_field.input :from_station_address
= air_field.input :to_station_address
= air_field.input :miles
= air_field.link_to_remove '删除航班数据'
