
.alert { margin: 0; padding-top:20px; }

.login-form {
  margin-top: 120px;
  margin-bottom:180px; 
}

.question {
  font-size: 20px;
  color: #5cb85c;
  margin-left: 10px;
}

.bs-callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
}

.bs-callout-primary {
  border-left-color: $brand_primary;
}

.bs-callout-success {
  border-left-color: $brand_success;
}

.bs-callout-info {
  border-left-color: $brand_info;
}

.bs-callout-warning {
  border-left-color: $brand_warning;
}

.bs-callout-danger {
  border-left-color: $brand_danger;
}

.field-btn {
  @extend .btn;
  @extend .btn-xs;
  @extend .btn-block;

  margin-top: -30px;
}

