// Place all the styles related to the users/accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#account_show {
  .panel-primary .panel-heading {
    a {
      color: #ffffff;
    }
  }
}

#user_account {
  button {
    margin-top: 95px;
    a{ color: #fff; }
  }
}
